.Checkbox {
    color: var(--green);
    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    width: var(--select-height);
    height: var(--select-height);
    border: 1px solid var(--border-color);

    border-radius: 5px;
}

.fa-check.hide {
    display: none;
}
