.File {
    width: 100%;
    max-width: var(--component-width);
    min-height: var(--component-height);
}

.File input {
    display: none;
}

.File > .drop {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--component-height);
    border: 1px solid var(--border-color);
}


.none {
    display: none;
}

.File > .drop:hover > i {
    position: absolute;
}

.File .drop i {
    font-size: 30px;
    color: black;
}

.File .drop.drag {
    border: 4px dashed;
}

.file_list__item {
    box-sizing: border-box;
    list-style: none;
    padding-right: 30px;
    border: 1px solid var(--border-color);
    max-height: var(--component-height);
}

.file_list__item_name {
    font-weight: normal;
    white-space: nowrap;
    overflow-x: hidden;
    user-select: none;
    max-width: 200px;
}

.files_list {
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 300px;
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
}

.file_list__item {
    animation: fall .3s;
    position: relative;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    background: white;
    z-index: 100;
}

.file_list__item > .fa-times {
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
    font-size: 12px;
}

.file_list__item > i {
    margin-right: 10px;
}

.file_list__item:hover {
    background-color: #f6f6f6;
    transition: .3s;
}

.file_list__item:nth-child(1) {
    border-top: none;
}

.file_list__item:nth-last-child(1) {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@keyframes fall {
    from {
        top: -40px;
    }
    to {
        top: 0;
    }
}
