.Password {
    max-width: var(--component-width);
    width: 100%;
    display: flex;
}

.Password input {
    position: relative;
    width: 100%;
    min-height: var(--component-height);

    box-sizing: border-box;
    border: 1px solid var(--border-color);
    padding: 5px 1rem;
    outline: none;

    font-size: 18px;
    border-bottom: 3px solid var(--color-red);
    border-radius: 5px 0 0 5px;
}

.Password i {
    cursor: pointer;

    width: var(--component-height);
    height: var(--component-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    border: 1px solid var(--border-color);
    border-left: none;
    border-bottom: 3px solid var(--color-red);
    border-radius: 0 5px 5px 0;
}

.Password input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

.Password input:not(:focus):valid {
    border-bottom: 3px solid var(--color-green);
    transition: .3s;
}

.Password input:not(:focus):valid + i {
    border-bottom: 3px solid var(--color-green);
    transition: .3s;
}

