.Button {
    position: relative;
    overflow: hidden;

    max-width: 300px;
    width: 100%;
    min-height: var(--select-height);

    border: none;
    padding: 0;
    background: none;

    transition: .2s;
}

.button__line {
    position: absolute;
    display: block;
}

.button__line--top {
    top: 0;
    width: 100%;
    height: 2px;
    background: var(--color-gradient-blue);
    left: -100%;
}

.Button:hover .button__line--top {
    left: 100%;
    transition: 1s;
    transition-delay: .25s;
}
