.Radio {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    width: var(--component-height);
    height: var(--component-height);

    border: 1px solid var(--border-color);
    border-radius: 100%;
}

.Radio span {
    display: inline-block;
    width: calc(var(--component-height) / 1.5);
    height: calc(var(--component-height) / 1.5);
    background-color: var(--color-green);
    border-radius: 100%;
}

.Radio.active{
  box-shadow: 0 0 5px var(--color-green);
}

.Radio span.hide {
    display: none;
}
